/* swiper card */
.banner-card .swiper {
  width: 240px;
  height: 320px;
}

.banner-card .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-card .swiper-slide:nth-child(1n) {
  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1483526434i/22673665.jpg");
}

.banner-card .swiper-slide:nth-child(2n) {
  background-image: url("../src/assets/Peer-E-Kamil-1.jpg");
}

.banner-card .swiper-slide:nth-child(3n) {
  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1373050509i/18163929.jpg");
}

.banner-card .swiper-slide:nth-child(4n) {
  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1420365972i/23486520.jpg");
}

.banner-card .swiper-slide:nth-child(5n) {
  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1467368538i/13496093.jpg");
}

@media (max-width: 768px) {
  .banner-card .swiper-cards {
    overflow: hidden;
  }
}
